a {
    text-decoration: none;
    color: black;
}

b {
    font-weight: 600;
}

@font-face {
    font-family: opulent;
    src: url(/fonts/opn.ttf);
}

@font-face {
    font-family: opt-r;
    src: url(/fonts/opt-r.ttf);
}

@font-face {
    font-family: opt-b;
    src: url(/fonts/opt-b.ttf);
}

@font-face {
    font-family: opt-i;
    src: url(/fonts/opt-i.ttf);
}

@font-face {
    font-family: opt-m;
    src: url(/fonts/opt-m.ttf);
}


h2,
h3,
p {
    padding: 0;
    margin: 0;
    line-height: 130%;
}

h1 {
    /* font-family: ibm-plex-sans, sans-serif; */
    font-family: 'Helvetica Neue', sans-serif, notodev, notodev, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: opulent; */
    line-height: 130%;
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

div {
    line-height: 130%;
}

h2 {
    /* font-family: 'Helvetica Neue', sans-serif, notodev, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: noto-sans, sans-serif; */
    font-family: opulent;
    font-size: 22px;
    line-height: 130%;
    font-weight: 400;
    color: #000;
}

h3 {
    font-family: opt-b;
    font-size: 18px;
    font-weight: 400;
}

p {
    font-family: 'Helvetica Neue', sans-serif, notodev, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: noto-sans, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.large {
    width: 88%;
    height: 200vw;
}

@keyframes slow-appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}


body {
    animation: 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95) slow-appear;
    /* font-family: 'Helvetica Neue', sans-serif, notodev, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: noto-sans, sans-serif; */
    font-family: opulent;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    line-height: 130% !important;
    scroll-behavior: smooth !important;
    text-rendering: optimizeLegibility;
    shape-rendering: crispEdges;
    image-rendering: crisp-edges;
}

.nav-container {
    display: flex;
    background: #ffffff;
    align-items: center;
    box-shadow: 0px 2px 12px rgba(167, 167, 167, 0.505);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    max-width: 1269px;
    margin: 0 auto;
    /* height: 140px; */
}

.name-container {
    /* display: grid; */
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: auto; */
    /* column-gap: 22px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-container img {
    display: block;
    padding: 0 0 0 12px;
    margin: 0 15px 12px 0;
}

#prabhatname {
    height: 60px;
}

.name-separator {
    height: 54px;
    background-color: rgb(32, 32, 32);
    width: 1px;
    margin: 4px 0 0 0;
}

#unitedname {
    margin: 8px 0 0 12px;
    height: 40px;
}

.top-contact-container {
    padding: 22px 12px 22px 0;
    font-family: opulent;
}

.top-phone-number {
    color: #0066B3;
    font-family: opulent;
}

.links-container a {
    display: block;
}

.button-1 {
    display: block;
    font-family: 'Helvetica Neue', sans-serif, notodev;
    outline: none;
    background-color: #161a1f;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    padding: 15px 36px 15px 36px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 240ms;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;

    background: rgb(244, 174, 94);
    background: -moz-linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    background: linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4ae5e", endColorstr="#e0850f", GradientType=1);

    box-shadow: 0px 2px rgba(167, 167, 167, 0.54);
}

.button-2 {
    display: block;
    font-family: 'Helvetica Neue', sans-serif, notodev;
    outline: none;
    background-color: #161a1f;
    background-color: #32213A;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    padding: 15px 36px 15px 36px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 240ms;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;

    background: rgb(79, 79, 79);

    box-shadow: 0px 2px rgba(167, 167, 167, 0.54);
}

.button-1:hover {
    transform: scale(1.05, 1.05);
    /* box-shadow: 0px 0px 52px rgba(17, 24, 7, 0.795); */
    /* box-shadow: 0px 0px 52px #f0c56f79; */
    /* outline: solid #ffffff 2px; */
}

.button-1:active,
.button-1:focus {
    outline: solid #ffffff 2px;
}

#nav-container-top {
    height: 1px;
    /* background-color: blue; */
}

.banner-container {
    background-image: url(/image/sunrise-bg-1.jpg);
    background-attachment: fixed;
    height: 480px;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: grid;
    grid-template-columns: 6fr 10fr;
    grid-template-rows: auto;
    padding: 20px;
    box-shadow: inset 0px 3px 12px rgb(32, 32, 32, 0.2);
}

.nav-1 {
    display: flex;
    padding: 18px 6%;
    background-color: #32213A;
    color: #fff;
    justify-content: space-between;
}

.nav-1 a {
    display: block;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600px;
}

.calendar-container {
    /* background-color: aqua; */
    margin: 54px auto 100px auto;
    /* padding: 0 98px 0 340px; */
    /* max-width: 900px; */
    /* width: 75vw; */
    width: 88%;
    max-width: 1269px;
    display: grid;
    grid-template-columns: auto 1.4fr 1.2fr;
    grid-template-rows: auto auto;
    column-gap: 36px;
    row-gap: 18px;
}

.calendar-container h1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

.cal-details-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    /* background-color: aquamarine; */
}

.cal-images-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: 0px auto;
    /* border: rgb(160, 160, 160) 1px solid; */
    height: 100%;
    width: 450px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* background-color: antiquewhite; */
    /* background-color: antiquewhite; */
    background-color: #ffeacf;
}

.cal-images-container img {
    margin-top: 100px;
    display: block;
    width: 99%;
    margin: auto;
    /* padding-bottom: 20px; */
    /* padding-top: 10px; */
}

h3 {
    margin-top: 18px;
    margin-bottom: 3px;
}

.page-options-container {
    /* margin-bottom: 24px; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 200px 200px;
    row-gap: 5px;
    column-gap: 15px;
}

.page-option {
    margin-top: 8px;
    display: flex;
    padding: 9px 15px 9px 9px;
    align-items: center;
    border-radius: 8px;
    transition: hover 120ms ease-in-out;
    width: 90%;
    cursor: pointer;
    background-color: #fff;
}

.page-option:hover {
    background-color: aliceblue;

    background: rgb(214, 248, 255);
    background: -moz-linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    background: -webkit-linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    background: linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6f8ff", endColorstr="#aee8f5", GradientType=1);
}


.radio-container img {
    width: 21px;
    display: block;
    margin: auto;
    display: none;
}

.calendar-price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 18px; */
    font-family: opulent;
    margin-left: 18px;
}

.label {
    font-size: 15px;
    margin-left: 8px;
}


.price {
    font-size: 15px;
}


.qty {
    font-size: 15px;
    /* font-style: italic; */
}


.to {
    /* height: 1px; */
    /* background-color: #000; */
    font-family: 'Helvetica Neue', sans-serif, notodev, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    width: 14px;
    padding-bottom: 12px;
    padding: 0 12px;
    text-align: center;
}

.ink-colours-container {
    margin-top: 8px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 200px 200px;
    row-gap: 8px;
    column-gap: 15px;
}

.inks-option {
    display: flex;
    /* margin-top: 8px; */
    display: flex;
    padding: 9px 15px 9px 9px;
    align-items: center;
    /* background-color: aliceblue; */
    border-radius: 8px;
    /* width: fit-content; */
    transition: hover 120ms ease-in-out;
    cursor: pointer;
    background-color: #f0f0f0;
    width: 90%;
}

.inks-option:hover {
    background-color: aliceblue;

    background: rgb(214, 248, 255);
    background: -moz-linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    background: -webkit-linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    background: linear-gradient(180deg, rgba(214, 248, 255, 0.7) 0%, rgba(208, 243, 250, 0.7) 60%, rgba(174, 232, 245, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d6f8ff", endColorstr="#aee8f5", GradientType=1);
}

.rate-table-container {
    margin-top: 18px;
    font-size: 15px;
}

table {
    /* font-family: arial, sans-serif; */
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) { */
/* background-color: #dddddd; */
/* } */

.payments-container {
    margin: 22px auto 0 auto;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    padding: 24px;
    border: 1px solid #ddd;
    height: fit-content;
    border-radius: 7px;
}

.pricing-container {
    margin-top: 24px;

}

.total-container {
    display: flex;
    margin-bottom: 18px;
    align-items: center;
}

.advance-container {
    display: flex;
    align-items: center;
}

.label-container {
    width: 140px;
}

.for-qty {
    font-size: 15px;
}

.quantity-container {
    margin: 0px 0 18px 0;
    /* display: flex; */
    align-items: center;
}

.quantity-container h3 {
    margin-bottom: 8px;
}

.input-container {
    display: flex;
    align-items: center;
}

#cal-qty {
    font-size: 18px;
    font-family: opulent;
    margin-top: 0px;
    padding: 0 12px;
    height: 40px;
    width: 120px;
    display: inline;
}

#getQuote {
    margin-top: 0px;
    display: inline;
    margin-left: 8px;
}

#due-amount {
    padding: 9px;
    background-color: #fde5ca;
    text-align: center;
    font-family: opulent;
    min-width: 130px;
}

#total-amount {
    padding: 9px;
    background-color: rgb(235, 235, 235, 0.5);
    text-align: center;
    font-family: opulent;
    min-width: 130px;
}

#payButton {
    /* background-color: #ffd29e; */

    background: rgb(244, 174, 94);
    background: -moz-linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    background: linear-gradient(180deg, rgba(244, 174, 94, 1) 0%, rgba(230, 147, 11, 1) 50%, rgba(224, 133, 15, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4ae5e", endColorstr="#e0850f", GradientType=1);

    color: rgb(255, 255, 255);
    text-transform: capitalize;
    /* margin-left: 12px; */

    margin-top: 18px;
    width: 256px;
}

.error-message {
    font-family: opulent;
    margin-top: 5px;
    font-size: 13px;
    color: rgb(225, 38, 38);
    display: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(239, 239, 239);
    transition: 300ms ease;
}

.no-margin-h3 {
    margin-top: 0px;
}

#open-modal {
    margin-top: 28px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    /* margin: -76px 0 0 -76px; */
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: none;
    box-shadow: 0px 0px 6px #8484847c;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bus-details-input {
    min-height: 19px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: opulent;
    width: 194px;
}

textarea {
    resize: none;
}

/* The Modal (background) */
.modal {
    display: none;
    /* display: block;  */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    backdrop-filter: blur(3px);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 10px 36px 36px 36px;
    border: 1px solid #888;
    width: fit-content;
    /* Could be more or less, depending on screen size */
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal-icon {
    height: 80px;
}

.modal-grid-container {
    margin: 18px 0 32px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
    column-gap: 12px;
}


#biz-address-field {
    grid-column: 1 / span 2;
}

#biz-address-field textarea {
    width: 436px;
}

#del-address-field {
    grid-column: 3 / span 2;
}

#del-address-field textarea {
    width: 436px;
}

#brand-url {
    grid-column: 1 / span 4;
}

#art-url {
    width: 910px;
}

.modal-button-container {
    display: flex;
    justify-content: space-between;
}

.modal2 {
    /* display: none; */
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    backdrop-filter: blur(3px);
}

.modal-content-2 {
    background-color: #fefefe;
    margin: 3% auto ;
    /* 15% from the top and centered */
    padding: 10px 36px 36px 36px;
    border: 1px solid #888;
    /* min-width: 200px; */
    width: 650px;
    /* Could be more or less, depending on screen size */
}

.success-message{
    padding: 12px 0;
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.success-icon{
    height: 50px;
    margin: 0 12px 0 0;
}

.success-modal-grid{
    margin: 18px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 24px;
}

.full-row{
    grid-column: 2 / span 2;
}

.success-button-container{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

#successModal{
    display: none;
}

#due-balance{
    grid-column: 1 / span 3;
}

@media print {
    body * {
      visibility: hidden;
    }
    .button-1 {
        display: none;
      }
    #successModal-content, #successModal-content * {
      visibility: visible;
    }
    #successModal-content {
      position: absolute;
      margin: 3% auto;
      /* transform: scale(1.15); */
    }
  }