<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prabhat Calendars | Prabhat Print Works & United Multicolour Printers </title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <link rel="stylesheet" href="/css/calendar-stylesheet.css">
    <link rel="icon" type="image/png" href="/image/cropped-logo-united-32x32.png">
    <link rel="stylesheet" href="https://use.typekit.net/fef6ybt.css">
    <script src="/js/cal.js" defer></script>
    <script>
        function calInfo(elem) {
            let calNum = JSON.parse(elem.parentNode.id);
            console.log(calNum);
        }
    </script>
    <!-- SMOOTH SCROLL -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script>
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location
                    .hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 900);
                        return false;
                    }
                }
            });
        });
    </script>
    <!-- End of SMOOTH SCROLL -->


</head>

<body onload="callCalID()">
    <div class="nav-container" id="home">
        <div class="nav-wrapper">
            <a href="" class="name-container">
                <img src="./image/prabhat-logo-svg.svg" alt="Prabhat Calendars" id="prabhatname">
                <div class="name-separator"></div>
                <img src="/image/united-logo-and-name-opt.png" alt="" id="unitedname">
            </a>
            <div class="top-contact-container">
                <h3 style="text-align: center; padding-right:27px; padding-bottom: 6px;">Call us on</h3>
                <h2 style="text-align: center;" class='top-phone-number'> <a class="top-phone-number"
                        href="tel:+912024453862">020 24453862</a> | <a class="top-phone-number"
                        href="tel:+919822082648">+91 9822082648</a></h2>
                <p style="text-align: center; padding-right:27px; padding-top: 6px; font-family: opulent;">Speak to us
                    right away.
                    <br>
                    Monday to Saturday, 10 am to 6 pm</p>
            </div>
        </div>
    </div>
    <div class="nav-1">
        <a href="/shop/">order online</a>
        <a href="">Help with customizing calendar</a>
        <a href="">Contact us</a>
        <a href="">Go to United Multicolour printers ></a>
    </div>

    <div class="calendar-container">

        <div class="cal-images-container">
            <img id="cal-img" src="/image/calendarpngfiles/161.png" alt="">
            <!-- <img src="./image/eg/eg131.jpg" alt=""> -->
        </div>
        <div class="cal-details-container">
            <h1 id="calendar-name">161-Smash</h1>
            <h2 id="description">6 Sheets & 12 Sheets | 17.5 inch x 22.5 inch</h2>
            <hr>
            <h3 class="no-margin-h3"> About</h3>
            <p style="font-family: opulent; font-size: 18px;" id="desc2"></p>
            <hr>
            <h3>Pages options</h3>
            <div class="page-options-container">

                <div class="page-option" id="sheets-12" onclick="pageSel(12)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">Double Sided (12 Sheets)</div>

                </div>
                <div class="page-option" id="sheets-6" onclick="pageSel(6)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">Single Sided (6 Sheets)</div>

                </div>
                <div class="page-option" id="sheets-4" onclick="pageSel(4)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">Single Sided (4 Sheets)</div>
                </div>
            </div>
            <h3>Customization inks options</h3>
            <div class="ink-colours-container">

                <div class="inks-option" id="inks-1" onclick="inksSelection(1)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">One colour <br> (Single colour printing)</div>
                </div>
                <div class="inks-option" id="inks-2" onclick="inksSelection(2)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">Two colours <br> (Two colour printing)</div>
                </div>
                <div class="inks-option" id="inks-3" onclick="inksSelection(3)">
                    <div class="radio-container"><img src="/image/icons/option.svg" alt=""></div>
                    <div class="label">Three or more colours <br> (Four colour printing)</div>
                </div>
            </div>
            <div class="rate-table-container">
                <h3 id="rate-table-h3">Single Sided (6 Sheets) calendar bulk prices</h3>
                <table id="6-sheets-table">
                    <tr>
                        <th>Qty</th>
                        <th>Single Colour <br> (incl. 18% GST)</th>
                        <th>Per Extra Colour <br> (incl. 18% GST)</th>
                    </tr>
                    <tr id="table-6-100">
                        <td>100 - 249</td>
                        <td id="base-6-100">44.44</td>
                        <td id="extra-6-100">44</td>
                    </tr>
                    <tr id="table-6-150">
                        <td>150 - 249</td>
                        <td id="base-6-150">44.44</td>
                        <td id="extra-6-150">44</td>
                    </tr>
                    <tr id="table-6-250">
                        <td>250 - 499</td>
                        <td id="base-6-250">44.44</td>
                        <td id="extra-6-250">44</td>
                    </tr>
                    <tr id="table-6-500">
                        <td>500 - 999</td>
                        <td id="base-6-500">44.44</td>
                        <td id="extra-6-500">44</td>
                    </tr>
                    <tr id="table-6-1000">
                        <td>1000+</td>
                        <td id="base-6-1000">44.44</td>
                        <td id="extra-6-1000">44</td>
                    </tr>
                </table>
                <table id="12-sheets-table">
                    <tr>
                        <th>Qty</th>
                        <th>Single Colour <br> (incl. 18% GST)</th>
                        <th>Per Extra Colour <br> (incl. 18% GST)</th>
                    </tr>
                    <tr id="table-12-100">
                        <td>100 - 249</td>
                        <td id="base-12-100">44.44</td>
                        <td id="extra-12-100">44</td>
                    </tr>
                    <tr id="table-12-150">
                        <td>150 - 249</td>
                        <td id="base-12-150">44.44</td>
                        <td id="extra-12-150">44</td>
                    </tr>
                    <tr id="table-12-250">
                        <td>250 - 499</td>
                        <td id="base-12-250">44.44</td>
                        <td id="extra-12-250">44</td>
                    </tr>
                    <tr id="table-12-500">
                        <td>500 - 999</td>
                        <td id="base-12-500">44.44</td>
                        <td id="extra-12-500">44</td>
                    </tr>
                    <tr id="table-12-1000">
                        <td>1000+</td>
                        <td id="base-12-1000">44.44</td>
                        <td id="extra-12-1000">44</td>
                    </tr>
                </table>
                <table id="4-sheets-table">
                    <tr>
                        <th>Qty</th>
                        <th>Single Colour <br> (incl. 18% GST)</th>
                        <th>Per Extra Colour <br> (incl. 18% GST)</th>
                    </tr>
                    <tr id="table-4-100">
                        <td>100 - 249</td>
                        <td id="base-4-100">44.44</td>
                        <td id="extra-4-100">44</td>
                    </tr>
                    <tr id="table-4-150">
                        <td>150 - 249</td>
                        <td id="base-4-150">44.44</td>
                        <td id="extra-4-150">44</td>
                    </tr>
                    <tr id="table-4-250">
                        <td>250 - 499</td>
                        <td id="base-4-250">44.44</td>
                        <td id="extra-4-250">44</td>
                    </tr>
                    <tr id="table-4-500">
                        <td>500 - 999</td>
                        <td id="base-4-500">44.44</td>
                        <td id="extra-4-500">44</td>
                    </tr>
                    <tr id="table-4-1000">
                        <td>1000+</td>
                        <td id="base-4-1000">44.44</td>
                        <td id="extra-4-1000">44</td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="payments-container">
            <div class="quantity-container">
                <h3 id="min-qty-h3" class="no-margin-h3">Enter quantity (min. 250)</h3>
                <form class="input-container">
                    <input autofocus type="number" name="" id="cal-qty" value="250" min="250">
                    <!-- <input type="text" name="bus-name" id="bus-name"> -->
                    <!-- <input type="text" name="bus-gst" id="bus-gst"> -->
                    <!-- <input type="text" name="bus-add" id="bus-add"> -->
                    <!-- <input type="text" name="bus-deladd" id="bus-deladd"> -->
                    <!-- <input id="getQuote" class="button-1" type="submit" value="get quote"> -->
                </form>
                <div class="error-message" id="qty-error">
                    Please enter quantity <br> greater than 250
                </div>
            </div>
            <div class="pricing-container">
                <h3 class="no-margin-h3">Quoted Amount (Delivery charges extra)</h3>
                <div class="total-container">
                    <div class="label-container">

                        <div id="total-for-qty" class="for-qty"> including GST, <br> for 250 copies</div>
                    </div>
                    <h3 class="no-margin-h3" id="total-amount">Rs. 4400000</h3>
                </div>
                <div class="advance-container">
                    <div class="label-container">
                        <h3 class="no-margin-h3">Advance</h3>
                        <div class="for-qty">(for booking order)</div>
                    </div>
                    <h3 class="no-margin-h3" id="due-amount">Rs. 2200000</h3>
                </div>

                <h3>Business Name</h3>
                <input class="bus-details-input" type="text" name="" id="bus-name">

                <h3>Contact Number</h3>
                <input class="bus-details-input" type="text" name="" id="bus-contact">

                <h3>Business Address</h3>
                <textarea class="bus-details-input" id="bus-add" name="bus-add" rows="3" cols="34"></textarea>

                <h3>Delivery address (optional)</h3>
                <textarea class="bus-details-input" id="bus-deladd" name="bus-deladd" rows="3" cols="34"></textarea>

                <h3>GSTIN</h3>
                <input class="bus-details-input" type="text" name="" id="bus-gst">

                <button id="order-button1" class="button-1">Book Order ></button>


            </div>
        </div>

    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <img src="/image/modal-icon.jpg" alt="" id="modal-icon">
            </div>
            <div class="modal-grid-container">
                <div class="grid-form-field">
                    <h3 class="no-margin-h3">Business Name</h3>
                    <input class="bus-details-input" type="text" name="" id="bus-name">
                </div>
                <div class="grid-form-field">
                    <h3 class="no-margin-h3">Contact Number</h3>
                    <input class="bus-details-input" type="text" name="" id="bus-contact">
                </div>
                <div class="grid-form-field">
                    <h3 class="no-margin-h3">Email</h3>
                    <input class="bus-details-input" type="text" name="" id="bus-email">
                </div>
                <div class="grid-form-field">
                    <h3 class="no-margin-h3">GSTIN</h3>
                    <input class="bus-details-input" type="text" name="" id="bus-gst">
                </div>

                <div class="grid-form-field" id="biz-address-field">
                    <h3 class="no-margin-h3">Business Address</h3>
                    <textarea class="bus-details-input" id="bus-add" name="bus-add" rows="3" cols="34"></textarea>
                </div>
                <div class="grid-form-field" id="del-address-field">
                    <h3 class="no-margin-h3">Delivery address</h3>
                    <textarea class="bus-details-input" id="bus-deladd" name="bus-deladd" rows="3" cols="34"></textarea>
                </div>
                <div class="grid-form-field" id="brand-url">
                    <h3 class="no-margin-h3">Branding Artwork URL (Google Drive/ WeTransfer link) </h3>
                    <input class="bus-details-input" type="text" name="" id="art-url">
                </div>
            </div>
            <div class="modal-button-container">
                <button class="button-2">Back</button>
                <button class="button-1">Pay Advance</button>
            </div>


        </div>

    </div>


    <!-- ORDER CREATION -->
    <script>
        //ORDER CREATION
        let orderId;
        document.getElementById("order-button1").onclick = function (e) {

            if (document.getElementById('cal-qty').value >= minQty) {
                document.getElementById('loader').style.display = 'block';
                var url = "/api/calendar/order";
                var params = {

                    // amount: due,
                    // currency: "INR",
                    // receipt: "wthcoding001",
                    // payment_capture: '1',

                    quantity: orderQty,
                    pagesOption: pageOptionsSel,
                    cal: calID,
                    inks: inksSel,
                    receipt: "test-cal-1"
                };
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function (res) {
                    if (xmlHttp.readyState === 4) {
                        res = JSON.parse(xmlHttp.responseText);

                        orderId = res.sub.id
                        myFunctionRzpy();
                    }
                }
                xmlHttp.open("POST", url, true);
                xmlHttp.setRequestHeader("Content-type", "application/json");
                xmlHttp.send(JSON.stringify(params));
            } else {
                console.log("minQty " + minQty + " not matched");
            }
        }
    </script>

    <!-- CHECKOUTT INITIATE -->
    <script>
        //CHECKOUTT INITIATE
        document.getElementById("rzp-button1").onclick = function (e) {


            var options = {
                "key": "<%= key %>",
                "currency": "INR",
                "name": calMenu[calID].name + " | Prabhat Calendars",
                "description": "Advance for " + orderQty + " qty of " + inksSel + " colour printing on " +
                    calMenu[calID].name + " calendar (" + pageOptionsSel + " sheets type)",
                "order_id": document.getElementById("rzp-text").value,
                "handler": function (response) {
                    document.getElementById('order-pay-id').value = response.razorpay_payment_id;
                    document.getElementById('order-id').value = response.razorpay_order_id;
                    document.getElementById('order-sig').value = response.razorpay_signature;
                },
                "callback_url": "https://prabhatprinting.com/shop/",
                "callback_method": "get",
                "theme": {
                    "color": "#0EB9F2"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();
        }
    </script>

    <!-- CHECKOUT-2 -->
    <script>
        var myVar;
        var razPaymentId;
        var razOrderId;
        var razOrderSig;

        function myFunctionRzpy() {
            myVar = setTimeout(checkoutAuto, 3000);
            var currentTime = new Date();
            console.log(currentTime);
        }

        function checkoutAuto() {
            document.getElementById('loader').style.display = 'none';
            var options = {
                "key": "<%= key %>",
                "currency": "INR",
                "name": calMenu[calID].name + " | Prabhat Calendars",
                "description": document.getElementById('bus-name').value + "- Advance for " + orderQty +
                    " qty of " + inksSel + " colour printing on " +
                    calMenu[calID].name + " calendar (" + pageOptionsSel + " sheets type)",
                "order_id": orderId,
                "handler": function (response) {
                    // document.getElementById('order-pay-id').value = response.razorpay_payment_id;
                    razPaymentId = response.razorpay_payment_id
                    // document.getElementById('order-id').value = response.razorpay_order_id;
                    razOrderId = response.razorpay_order_id;
                    // document.getElementById('order-sig').value = response.razorpay_signature;
                    razOrderSig = response.razorpay_signature;
                    verify2();
                },
                "notes": {
                    "Business Name": document.getElementById('bus-name').value,
                    "GSTIN": document.getElementById('bus-gst').value,
                    "Business Address": document.getElementById('bus-add').value,
                    "Contact Details": document.getElementById('bus-contact').value,
                    "Delivery Address": document.getElementById('bus-deladd').value,
                },
                "callback_url": "https://prabhatprinting.com/shop/",
                "callback_method": "get",
                "image": "/image/United-flower.png",
                "theme": {
                    "color": "#0EB9F2"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
    </script>

    <!-- VERIFICATION -->
    <script>
        // VERIFICATION 2 ----- >
        function verify2(e) {
            var url = '/api/calendar/verify';
            var params = {
                razorpay_order_id: razOrderId,
                razorpay_payment_id: razPaymentId,
                razorpay_signature: razOrderSig
            };
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function (res) {
                if (xmlHttp.readyState === 4) {
                    console.log('keys verified');
                    alert(xmlHttp.responseText);
                }
            }
            xmlHttp.open("POST", url, true); // false for synchronous request
            xmlHttp.setRequestHeader("Content-type", "application/json");
            xmlHttp.send(JSON.stringify(params));
        }
    </script>


    <div id="loader"></div>

</body>

</html>